---
layout: default
---

<main class="json">
  <div class="block">
    {% if site.json.Name %}
    <p><span class="key">Name</span><span class="attr">{{ site.json.Name }}</span></p>
    {% else %}
    <p><span class="key">Name</span><span class="attr">{{ site.title }}</span></p>
    {% endif %}
    {% if site.json.Description %}
    <p><span class="key">Description</span><span class="attr">{{ site.json.Description }}</span></p>
    {% else %}
    <p><span class="key">Description</span><span class="attr">{{ site.title }}</span></p>
    {% endif %}
    {% if site.json.Interests %}
    {% if site.json.Interests.first %}
    <div id="typed-strings">
      {% for i in site.json.Interests %}
      <span>{{ i | prepend: '"' | append: '",'}}</span>
      {% endfor %}
    </div>
    <p><span class="key">Interests</span>{% include typed.html %}</p>
    {% else %}
    <p><span class="key">Interests</span><span class="attr">{{ site.json.Interests }}</span></p>
    {% endif %}
    {% else %}
    <p><span class="key">Interests</span><span class="attr">{{ site.Interests }}</span></p>
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.CV %}
    {% assign CV = site.json.CV | split: "/" | slice: -1 %}
    <p><span class="key">CV</span><span class="attr"><a href="{{ site.json.CV }}" target="_blank">{{ CV }}</a></span></p>
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.Address %}
    {% if site.json.Address.first %}
    <p><span class="array-key">Address</span></p>
    <div class="array">
      {% for i in site.json.Address %}
      <p class="array-attr">{{ i }}</p>
      {% endfor %}
    </div>
    {% else %}
    <p><span class="key">Address</span><span class="attr">{{ site.json.Address }}</span></p>
    {% endif %}
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.Contact %}
    {% if site.json.Contact.first %}
    <p><span class="list-key">Contact</span></p>
    <div class="list">
      {% for i in site.json.Contact %}
      <p><span class="list-subkey">{{ i | slice: 0 }}</span><span class="list-attr">{{ i | slice: 1 }}</span></p>
      {% endfor %}
    </div>
    {% else %}
    <p><span class="key">Contact</span><span class="attr">{{ site.json.Contact }}</span></p>
    {% endif %}
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.demo %}
    {% assign demo = site.json.demo | split: "//" | slice: 1 %}
    <p><span class="key">demo</span><span class="attr"><a href="{{ site.json.demo }}" target="_blank">{{ demo }}</a></span></p>
    {% endif %}
    {% if site.json.source %}
    {% assign source = site.json.source | split: "github.com/" | slice: 1 %}
    <p><span class="key">source</span><span class="attr"><a href="{{ site.json.source }}" target="_blank">{{ source }}</a></span></p>
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.Profiles %}
    <span class="array-key">Profiles</span>
    <div class="array">
      {% for i in site.json.Profiles %}
      <p class="array-attr"><a href="{{ i | slice: 1 }}" target="_blank">{{ i | slice: 0 }}</a></p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</main>